body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: white;	
}

/* Login */
.login__container, .signup__container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #0064D3, #0064D3);		
	position: relative;	
	height: 550px;
	width: 360px;	
	box-shadow: 10px 10px 24px #E53238;
	right: 100px;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: white;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #F5AF02;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #86B817, #86B817);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #F5AF02;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 126px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #86B817;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #86B817;
}

.login__submit {
	background: #E53238;
	font-size: 14px;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 26px;
	border: 1px solid #E53238;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: white;
	box-shadow: 0px 2px 2px #E53238;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: white;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.app-logo__login {	
	position: relative;
	right: 150px;
	height: 600px;
	width: 600px;
}

.register {	
	position: absolute;
	bottom: 130px;
	right: 45px;
	color: #fff;
	font-weight: bold;
}

.register-link {
	color: white;
	text-decoration: none;
}

.register-link:hover {
	cursor: pointer;
	color: white;
	text-decoration: underline;
}

/* Sign Up */
.screen2 {		
	background: linear-gradient(90deg, #0064D3, #0064D3);		
	position: relative;	
	height: 550px;
	width: 490px;	
	box-shadow: 10px 10px 24px #E53238;
	right: 100px;
}

.screen__content2 {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.signup {
	width: 320px;
	padding: 30px;
	padding-top: 75px;
}

.signup__field {
	padding: 20px 0px;	
	position: relative;	
}

.signup__fieldcontainer1 {
	display: flex;
}

.signup__fieldcontainer2 {
	display: flex;
}

.signup__fieldcontainer3 {
	display: flex;
}

.signup__icon {
	position: absolute;
	top: 30px;
	color: #86B817;
}

.signup__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 140%;
	transition: .2s;
}

.signup__field:nth-child(even) {
	margin-left: 3.5em;
}

.signup__input:active,
.signup__input:focus,
.signup__input:hover {
	outline: none;
	border-bottom-color: #86B817;
}

.signup__submit {
	background: #E53238;
	font-size: 14px;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 26px;
	border: 1px solid #E53238;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: white;
	box-shadow: 0px 2px 2px #E53238;
	cursor: pointer;
	transition: .2s;
}

.signup__submit:active,
.signup__submit:focus,
.signup__submit:hover {
	border-color: white;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: white;
}

.app-logo__signup{	
	position: relative;
	right: 125px;
	height: 600px;
	width: 600px;
}

/* Header */
.app-logo__header {
	
}