body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: white;	
}

/* Login */
.login__container, .signup__container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #0064D3, #0064D3);		
	position: relative;	
	height: 550px;
	width: 360px;	
	box-shadow: 10px 10px 24px #E53238;
	right: 100px;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: white;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #F5AF02;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #86B817, #86B817);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #F5AF02;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 126px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #86B817;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #86B817;
}

.login__submit {
	background: #E53238;
	font-size: 14px;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 26px;
	border: 1px solid #E53238;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: white;
	box-shadow: 0px 2px 2px #E53238;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: white;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.app-logo__login {	
	position: relative;
	right: 150px;
	height: 600px;
	width: 600px;
}

.register {	
	position: absolute;
	bottom: 130px;
	right: 45px;
	color: #fff;
	font-weight: bold;
}

.register-link {
	color: white;
	text-decoration: none;
}

.register-link:hover {
	cursor: pointer;
	color: white;
	text-decoration: underline;
}

/* Sign Up */
.screen2 {		
	background: linear-gradient(90deg, #0064D3, #0064D3);		
	position: relative;	
	height: 550px;
	width: 490px;	
	box-shadow: 10px 10px 24px #E53238;
	right: 100px;
}

.screen__content2 {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.signup {
	width: 320px;
	padding: 30px;
	padding-top: 75px;
}

.signup__field {
	padding: 20px 0px;	
	position: relative;	
}

.signup__fieldcontainer1 {
	display: flex;
}

.signup__fieldcontainer2 {
	display: flex;
}

.signup__fieldcontainer3 {
	display: flex;
}

.signup__icon {
	position: absolute;
	top: 30px;
	color: #86B817;
}

.signup__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 140%;
	transition: .2s;
}

.signup__field:nth-child(even) {
	margin-left: 3.5em;
}

.signup__input:active,
.signup__input:focus,
.signup__input:hover {
	outline: none;
	border-bottom-color: #86B817;
}

.signup__submit {
	background: #E53238;
	font-size: 14px;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 26px;
	border: 1px solid #E53238;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: white;
	box-shadow: 0px 2px 2px #E53238;
	cursor: pointer;
	transition: .2s;
}

.signup__submit:active,
.signup__submit:focus,
.signup__submit:hover {
	border-color: white;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: white;
}

.app-logo__signup{	
	position: relative;
	right: 125px;
	height: 600px;
	width: 600px;
}

/* Header */
.navbar-rightside {
	flex-grow: 0 !important;
	margin-right: 3em;
}

.header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}

#shopping-cart {
	/* display: flex;
	align-self: center; */
	position: absolute;
	top: 11px;
	right: 125px;
	margin-left: 1em;
	font-size: 1.3em;
	color: black;
	text-decoration: none;
}

#shopping-cart:hover {
	color: #0d6efd; 
}

.cart-basket-count {
	font-size: .6rem;
  position: relative;
  top: -35px;
  right: -13px;
  width: 18px;
  height: 18px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}

/* Footer */
.footer {
	max-height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
  }
  
  .container {
	text-align: center;
  }
  
  #footer-icon {
	font-size: 1em;
	position: relative;
	top: 100%;
	left: 3%;
	transform: translate(-50%, -50%);
  }

  #footer-text {
	  margin-left: 1.25em;
	  font-size: 1.12em;
  }
  
  .github-icon {
	margin-right: 5px;
  }

/* Search Form */
.searchform {
	max-width: 75vw;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.form-field {
	height: 40px;
	margin: 1em auto;
	
}

.form-field-input {
	border-color: black;
}

.search-btn {
	width: 175px;
}

/* Dashboard - ads */
.dashboard-ad1 {
	width: 100vw;
	height: 67vh;
	position: relative;
	top: -300px;
}

.dashboard-ad2 {
	min-width: 118vw;
	height: 67vh;
	position: relative;
	top: -190px;
}

.dashboard-ad3 {
	width: 120vw;
	height: 67vh;
	position: relative;
	top: -300px;
}

.dashboard-ad4 {
	width: 100vw;
	height: 67vh;
	position: relative;
	top: -160px;
}


.ad-text {
	position: absolute;
	top: 425px;
	right: 200px;
}

.ad-text2 {
	position: absolute;
	top: 295px;
	right: 470px;
	color: #873518;
}

.ad-text3 {
	position: absolute;
	top: 355px;
	right: 53%;
	left: 200px;
}

.ad-text4 {
	position: absolute;
	top: 260px;
	right: 90px;
	left: 100px;
}

.ad-text-heading {
	font-size: 3em;
	font-weight: bold;
}

.ad-text-content {
	font-weight: bold;
}

/* Product.js and ProductList.js */
.search-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em auto;
	max-width: 75vw;
	border: 1px solid lightgrey;
	padding: 1em;
}

.product-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 30%;
	border-bottom: 1px solid lightgrey;
	padding: 3em;
	margin: 0 2em;
}

.product-img-container {
	border: 1px solid lightgrey;
	padding: 1em;
}

.product-img {
	width: 200px;
	height: 200px;
}

.product-info {
	margin-left: 2em;
	position: relative;
	top: 15px;
}

.product-title {
	text-decoration: none;
}

.product-title2 {
	font-size: 1.2em;
	color: black;
	font-weight: bold;
}

.product-subtitle {
	position: relative;
	top: -5px;
}

.product-details {
	position: relative;
	top: -15px;
}

.product-price {
	font-size: 1.5em;
	font-weight: bold;
	position: relative;
	top: 20px;
}

.product-offer {
	position: relative;
	top: 5px;
}

.product-shipping {
	position: relative;
	top: -14px;
}

.product-qty {
	display: flex;
	align-items: center;
	position: relative;
	top: -30px;
}

.qty-select {
	width: 55px;
	height: auto;
	margin-left: 5px;
}

#star-icon-add-to-cart {
	position: relative;
	top: 100px;
	right: 10px;
	font-size: 1.3em;
	color: darkgrey;
	font-weight: bold;
}

#star-icon-add-to-cart:hover {
	border-color: #0d6efd;
	color: #0d6efd;
}

#star-icon-add-to-cart:active {
	transform: translateY(2px);
	
}

/* CartProduct.js and CartList.js */
.shopping-cart {
	width: 50%;
}

.shopping-cart-subtotal-container {
	position: relative;
	top: -20px;
	margin: 0;
}

.shopping-cart-title {
	font-weight: bold;
	border-bottom: 1px solid black;
}

.subtotal {
	font-weight: bold;
}

.cart-product-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	/* max-height: 30%; */
	border-bottom: 1px solid lightgrey;
	padding: 3em;
}

.cart-product-img-container {
	border: 1px solid lightgrey;
	padding: 0.5em;
}

.cart-product-delete {
	position: relative;
	left: -30px;
	top: 0px;
}

.cart-product-delete:hover {
	color: #0d6efd; 
}

.cart-product-delete:active {
	transform: translateY(2px);
}

.cart-product-img {
	width: 100px;
	height: 100px;
}

.cart-product-info {
	margin-left: 1.5em;
	position: relative;
	top: -20px;
	max-height: 10vh;
}

.cart-product-title {
	text-decoration: none;
}

.cart-product-title2 {
	font-size: 0.95em;
	color: black;
	font-weight: bold;
}

.cart-product-subtitle {
	position: relative;
	top: -5px;
	font-size: 0.8em;
}

.cart-product-details {
	display: flex;
	align-items: center;
}

.cart-product-price {
	font-size: 1.4em;
	font-weight: bold;
	position: relative;
	top: 5px;
	color:#E53238;
}

.cart-product-qty {
	position: relative;
	top: 0px;
	right: -45%;
	display: flex;
	align-items: center;
}

.save-wishlist {
	position: relative;
	top: 0.5em;
	left: 25%;
	margin: 1em 0;
	width: 300px;
	background-color: #F5AF02;
	opacity: 90%;
	color: black;
	border: none;
	font-weight: bold;
}

.save-wishlist:hover {
	background-color: #F5AF02;
	color: black;
	opacity: 100%;
}

/* Wish List */

.wishlist-container {
	position: relative;
	top: 100px;
	margin: auto;
	width: 800px;
}

#Wishlist-heading {
	font-size: 1.5em;
	font-weight: bold;
}

.wishlist-subheading {
	display: flex;
	justify-content: space-around;
	background-color: #86B817;
	opacity: 90%;
	margin-top: 1em;
	border-radius: 5px;
	border-bottom: none;
	padding: 1em;
}

.wishlist-subheading-1,.wishlist-subheading-2,.wishlist-subheading-3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wishlist-subheading-4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: flex-start;
}

.subheading-1 {
	text-transform: uppercase;
	font-weight: bold;
}

.wishlist-results-container {
	border-radius: 5px;
	border: 1px solid lightgrey;
	width: 800px;
	border-top: none;
	margin: 6.1em auto;
}

.wishlist-product-wrapper {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	/* height: 30vh; */
	width: 760px;
	border-bottom: 1px solid lightgrey;
	padding: 0 0 2em 1em;
	margin-left: 1em;
}

.wishlist-product-wrapper:nth-of-type(1) {
	padding-top: 4em;
	
}

.wishlist-product-img-container {
	border: 1px solid lightgrey;
	padding: 0.5em;
	position: relative;
	top: -15px;
}

.wishlist-product-img {
	width: 100px;
	height: 100px;
}

.wishlist-product-info {
	margin-left: 1em;
	position: relative;
	top: -10px;
}

.wishlist-product-title2 {
	font-size: 0.85em;
	color: black;
	font-weight: bold;
	width: 25vw;
}

.wishlist-product-subtitle {
	position: relative;
	top: -5px;
	font-size: 0.75em;
}

.wishlist-product-details {
	position: relative;
	top: -15px;
}

.wishlist-product-price {
	font-size: 1.25em;
	font-weight: bold;
	position: relative;
	top: 20px;
	color: #E53238;
}

.wishlist-product-offer {
	position: relative;
	top: 5px;
	font-size: 0.75em;
}

.wishlist-product-shipping {
	position: relative;
	top: -14px;
	font-size: 0.75em;
}

.wishlist-product-qty {
	background-color: #0064D3;
	font-size: 1.10em;
	padding: 0.75em;
	position: relative;
	left: -13px;
	top: 40px;
}

.wishlist-buttons {
	position: relative;
	right: -72.5%;
	top: -140px;
}

.wishlist-buttons a {
	text-decoration: none;
}

.view-item {
	background-color: #F5AF02;
	border-color: #F5AF02;
}

.wishlist-btn {
	width: 175px;
	height: 25px;
	font-size: 0.75em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	margin: 5px 0;
}

.wishlist-btn:hover {
	background-color: #F5AF02;
	color: black;
	border-color: #F5AF02;
}

.wishlist-btn:active {
	background-color: #F5AF02;
	color: black;
	border-color: #F5AF02;
} 

.share-wishlist-btn {
	font-size: 0.8em;
	font-style: italic;
	color: black;
}







